body{
    margin: 0;
    padding: 0;
    background-color: #EAEAEA;
}

.btn{
    vertical-align: middle;
    text-align: center;
    background-color: #373334;
    color: #eaeaea;
    font-size: 18px;
    width: 300px;
    border-radius: 60px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(55, 51, 52, 0.2);
}

#main{
    margin-top: calc(50vh - 140px);
    font-family: Roboto;
}

.btn:hover{
    box-shadow: 0px 7px 10px rgba(55, 51, 52, 0.35);
    transition: 0.3s;
}

a{
    text-decoration: none;
}

.maintext{
    font-size: 18px;
}

#name{
    font-weight: bold;
}